* {
  box-sizing: border-box;
}

body {
  background-color: #caf0f8;
}

.container {
  width: 1200px;
  height: 800px;
  position: relative;
}

.carHolder {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;

  /* transition-duration: 0.3s; */
}

.speed {
  position: absolute;
  top: 0;
  right: 50px;
  background-color: transparent;
  padding: 1rem;
  display: inline-block;
  color: #457b9d;
}

.north {
  transform: rotate(-90deg);
}

.west {
  transform: rotate(180deg);
}

.south {
  transform: rotate(90deg);
}

img {
  width: 100%;
}
