* {
  box-sizing: border-box;
}

body {
  background-color: #caf0f8;
}

.container {
  width: 1200px;
  height: 800px;
  position: relative;
}

.carHolder {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
}

img {
  width: 100%;
}
